.container{
    width: 30vw;
    background-color: rgb(248, 246, 244);
    border-radius: 24px;
    margin-top: 200px;
}

.image{
    width: 150px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}
body{
    background-color: rgb(47, 184, 184); 
}

@media only screen and (min-width: 360px) {
    .container{
        width: 95vw;
        margin-top:200px;
    }
    body{
        width: 100vw;
        font-size: 15px;
    }
    .image{
        width: 100px;
    }
  }

  @media only screen and (min-width: 767px) {
    .container{
        width: 80vw;
        margin-top:250px;
    }
    body{
        width: 100vw;
        font-size: 18px;
    }
    .image{
        width: 100px;
    }
  }
  @media only screen and (min-width: 600px) {
    .container{
        width: 70vw;
        margin-top:250px;
    }
    body{
        font-size: 15px;
    }
    .image{
        width: 100px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .container{
        width: 70vw;
        margin-top:200px;
    }
    body{
        font-size: 25px;
    }
    .image{
        width: 150px;
    }
    .btn{
        column-gap: 180px;
    }
  }